
body{
    background: url('../images/bg2.jpg') no-repeat center center/cover;
    height: 800px;
    width: 656px;
}

.login{
    width: 210px;
}
.login h1 {
    font-size: 30px;
}
.box{
    font-size: 16px;
}
.box i{
    width: 20px;
}
.btn{
    width: 25%;
    font-size: 9px;
}
.btn:hover{
    font-size: 10px;
}
.login a{
    font-size: 12px;
}
